body {
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(255, 255, 255);
}

.container {
    width: 450px;
    height: 450px;
    padding:10px;
    border-radius:10px;
    box-shadow:12px 12px 20px 2px rgb(100, 86, 233), -12px -12px 20px 2px rgb(228, 247, 146);
    animation-name: containerGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}   

.title {
   position:relative;
   top:-400px;
   left:200px;
}

.display {
    width:435px;
    height:70px;
    font-size:35px;
    outline:none;
    border-radius: 15px;
    border-style:solid;
    text-align:right;
    padding-right: 10px;
    background: white;
    box-shadow:inset 5px 5px 5px rgb(244, 248, 227),
     inset -5px -5px 5px rgb(205, 205, 247);
    animation-name: displayGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.buttons {
    width:100%;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons .row button {
    width: 55px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    margin:10px 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px black,
                -5px -5px 8px white;   
}

.css:hover {
    background-color: rgb(253, 253, 141);
    border-style:dotted;
}

.css:active {
    background-color: rgb(252, 252, 77);
}

.css {
    font-family: 'Roboto', 'Times New Roman';
}

@keyframes displayGlow {
    from {
        box-shadow: inset 5px 5px 5px rgb(244, 248, 227, 1),
        inset -5px -5px 5px rgb(205, 205, 247, 1);
    }
    to {
        box-shadow: inset 5px 5px 12px rgba(201, 240, 28, 0.5),
        inset -5px -5px 12px rgba(14, 14, 241, 0.5),
        inset 0px 5px 12px rgba(105, 128, 6, 0.5),
        inset -0px -5px 12px rgba(2, 2, 155, 0.5),
        inset 5px 0px 12px rgba(88, 107, 4, 0.5),
        inset -5px -0px 12px rgba(1, 1, 77, 0.5),
        inset 0px 0px 12px rgba(31, 37, 1, 0.5),
        inset 0px 0px 12px rgba(1, 1, 29, 0.5);
    }
}

@keyframes containerGlow {
    from {
        box-shadow: 12px 12px 30px 2px rgb(100, 86, 233, 1),
         -12px -12px 30px 2px rgb(228, 247, 146, 1);
    }
    to {
        box-shadow: 12px 12px 30px 2px rgba(26, 6, 206, 0.5),
        -12px -12px 30px 2px rgba(190, 212, 89, 0.5),
        0px 12px 30px 2px rgba(16, 3, 129, 0.5),
        -0px -12px 30px 2px rgba(171, 206, 13, 0.5),
        12px 0px 30px 2px rgba(7, 1, 58, 0.5),
        -12px -0px 30px 2px rgba(86, 105, 2, 0.5),
        0px 0px 30px 2px rgba(3, 0, 26, 0.5),
        0px 0px 30px 2px rgba(15, 19, 1, 0.5);
    }
}